nav a{
  padding: 5%;
}
.center {
    text-align: center;
    margin-top: 45px;
    font-family: Arial,sans-serif;
  }

table {
    border-spacing: 1;
    border-collapse: collapse;
    border-radius: 20px;
    margin: auto;
    width: 46%;
    background: white;
    overflow: hidden;
  }
  
  table td, table th {
    text-align: left;
    padding: 10px
  }
  
  table thead th {
    font-weight: normal;
    font-family: Arial,sans-serif;
    height: 40px;
    background: lightgray;
    white-space: nowrap;
    text-align: center;
  }
  
  table tbody tr {
    height: 40px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  tbody tr:hover {
    background-color: gainsboro;
  }

  a{
    text-decoration: none;
  }

  input[disabled]
{
    background-color:#ffffff;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

.stars{
  height:50px;
  position:relative;
}


*{
    margin: 0;
    padding: 0;
}
.rate {
  margin:0;
  position: relative;
  height: 46px;
  padding: 0 10px;
  right: 38%;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}